<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>内控管理系统</title>

    <!--data table-->
    <link rel="stylesheet" href="__PUBLIC__js/data-tables/DT_bootstrap.css"/>

    <link href="__PUBLIC__css/style.css" rel="stylesheet">
    <link href="__PUBLIC__css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__js/html5shiv.js"></script>
    <script src="__PUBLIC__js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <include file="./Application/Home/Common/index_head.html"/>

    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <include file="./Application/Home/Common/index_list.html"/>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                支出借款申请
            </h3>

        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">

                        <div class="panel-body">
                            <div class="adv-table editable-table ">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <button id="" class="btn btn-primary">
                                            <a href="{:U('Zcjk/zcjk_add')}">新建支出借款</a> <i class="fa fa-plus"></i>
                                        </button>
                                    </div>


                                </div>
                                <div class="space15"></div>
                                <table class="table table-striped table-hover table-bordered" id="editable-sample">
                                    <thead>
                                    <tr>

                                        <th>借款单号</th>
                                        <th>年份</th>
                                        <th>月份</th>
                                        <th>所属部门</th>
                                        <th>借款人名</th>
                                        <th>借款明细说明</th>
                                        <th>借款日期</th>
                                        <th>状态</th>
                                        <th>提交审核</th>
                                        <th>删除</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="info" id="v">

                                        <tr class="">
                                            <td>{$v.loan_no}</td>
                                            <td>{$v.year_no}</td>
                                            <td>{$v.month_no}</td>
                                            <td>{$v.department_name}</td>
                                            <td>{$v.loan_man_name}</td>
                                            <td>{$v.loan_text}</td>
                                            <td class="center">{$v.loan_date}</td>

                                            <td class="center">
                                                <if condition="$v.loan_flag == 0">等待提交</if>
                                                <if condition="$v.loan_flag == 1">部门领导审核</if>
                                                <if condition="$v.loan_flag == 2">部门领导审核退回</if>
                                                <if condition="$v.loan_flag == 3">待财务审核</if>
                                                <if condition="$v.loan_flag == 4">财务审核退回</if>
                                                <if condition="$v.loan_flag == 5">财务审核通过</if>
                                            </td>
                                            <td> <a style="cursor:pointer" href="{:U('Zcjk/shenhe')}?id={$v.id}">提交审核</a> </td>
                                            <td><a class="" style="cursor: pointer;" onclick="del_com({$v['id']})">删除</a></td>
                                        </tr>
                                    </volist>



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->

        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>


<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__js/bootstrap.min.js"></script>
<script src="__PUBLIC__js/modernizr.min.js"></script>
<script src="__PUBLIC__js/jquery.nicescroll.js"></script>

<!--data table-->
<script type="text/javascript" src="__PUBLIC__js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="__PUBLIC__js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="__PUBLIC__js/scripts.js"></script>

<!--script for editable table-->
<script src="__PUBLIC__js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function () {
        EditableTable.init();
    });

    function del_com(data){
        var r = confirm("确定删除吗？");
        if(r == true){
            window.location.href="zcjk_del"+'?id='+data;
            return true;
        }else{
            return false;
        }
    }

    function get_quanxian(data) {
        $.ajax({
            url: "{:U('index/ajaxUser_data')}",
            type: 'POST',
            data:{data: data},
            success:function(data,textStatus,jqXHR){
                $(".modal-body").html(null);
                $(".modal-body").html(data);
            },
            error:function(xhr,textStatus){
                console.log('错误')
                console.log(xhr)
                console.log(textStatus)
            },
        })
    }
</script>

</body>
</html>
